/*{}#*/
html {
    font-size: 62.5%;
}
/*tipografia local*/
@font-face {
    font-family:'abril-titulos';
    src: url("../tipografias/Abril/Abril_Text_SemiBold.otf");
}
@font-face {
    font-family:'laca';
    src: url("../tipografias/laca/Laca\ Book.otf");
}
h3 {
    font-family: 'abril-titulos';
    color: #542921;
    background-color: #EDDAA4;
}
a {
    font-family:'Lato', sans-serif;
}
p{
    font-family:'Lato', sans-serif;
    font-size: 10px;
    font-style: normal;
    text-align: left;
    text-decoration: double;
}

.img{
    text-align: center;
    color:#EDDAA4;
    height: 500px;
    background-image: url("../img/cosmetica-natural-ullassa.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
}
/*footer*/
.footer{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    background-color: #7d3d31;
    opacity: 70%;
    color: #ffff;
}
.footer ul {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    list-style-type: none;
    text-align: right;
}
.footer a {
    font-size: 15px;
    font-family:'laca';
    color: #EDDAA4;
}

